[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lab2_2
Exec=/usr/bin/ru.template.lab2_2
Name=lab2_2
Name[ru]=lab2_2

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=lab2_2
ExecDBus=/usr/bin/ru.template.lab2_2
